body{
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("C:/Users/SHRUSHTI/OneDrive/Desktop/Calculator/background.png");
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    margin: 0; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}

h1{
    color: darkblue;
    margin: 10px;
}

h2, button {
    margin: 10px; 
}